#root {
  color-scheme: dark light;
  --primary-color: #1ba098;
  --secondary-color: #deb992;
  --desc-color: #869ba9;
  --highlight-color: #081521;
  --bg-color:  #001f33;
  --bg-second-color:  #051622;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--secondary-color);
  font-family: Trebuchet MS, Segoe UI, Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.invis {
  display: none;
}

body {
  background-color: var(--bg-color);
  background-image: url(./assets/bg_stars.png);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 1em 0 0 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 5em;
}

my-nav {
  display: block;
  padding: 5em 0;
  border-bottom:  1px solid var(--secondary-color);
  text-align: left;
}

my-nav > a {
  padding: 5em 2em;
}

prompt-line {
  display: block;
  font-weight: bold;
  font-size: 150%;
}

label {
  margin: 2em 1em;
  line-height: 3em;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 2px solid transparent;
  background-color: var(--bg-color);
  transition: border-color 0.25s;
}

button {
  display:  flex;
  flex-wrap: wrap;
  max-width: 80%;
}

button:hover {
  border-color: var(--secondary-color) !important;
}
button:active {
  border-color: var(--primary-color) !important;
}
button.send {
  display: inline-block;
}

.selected {
  font-weight: bold;
  border-color: var(--secondary-color);
}

.correct {
  color:  green;
}
.incorrect {
  color:  red;
}